@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Afacad", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

:root {
  --background: #0e0f1b;
  --foreground: #eadaea;
  --accent: #ffa737;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-links-container {
  @apply flex flex-col items-center gap-5 p-6 border border-neutral-700 bg-primary w-36 rounded-xl;
}

.hamburger-menu {
  @apply flex flex-col justify-between h-11 p-[15px] cursor-pointer -mr-3;
}

.hamburger-menu span {
  @apply h-[2px] rounded block bg-neutral-300 transition-all duration-500;
}

.hamburger-menu.active span:nth-child(1) {
  transform: translate(0, 6px) rotate(45deg);
  width: 100%;
}

.hamburger-menu.active span:nth-child(3) {
  transform: translate(0, -6px) rotate(-45deg);
  width: 100%;
}

.hamburger-menu.active span:nth-child(2) {
  transform: scaleX(0);
}

.card-border {
  background: radial-gradient(100px at var(--x) var(--y), #ffa737, transparent);
}

.paddingX {
  @apply px-6 sm:px-16;
}

.paddingY {
  @apply py-6 sm:py-16;
}

.padding {
  @apply px-6 py-10 sm:px-16 sm:py-16;
}

.gradient-text {
  @apply text-transparent bg-clip-text;
}

.sectionHeadText {
  @apply text-white font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px];
}

.sectionSubText {
  @apply flex items-center gap-4 text-sm tracking-wider sm:text-lg text-secondary;
}

.input {
  @apply w-full border-secondary/30 bg-secondary/10 border text-sm rounded-lg focus:border-blue-500 p-2.5 placeholder-gray-400 text-white focus:ring-1 focus:ring-blue-500 focus:outline-none;
}

.btn-cta {
  @apply text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center gap-2;
}

.verticalText {
  writing-mode: vertical-rl;
}

.black-gradient {
  @apply bg-gradient-to-r from-gray-600 to-black;
}

.accent-gradient {
  @apply bg-gradient-to-b from-[var(--accent)] to-[#260212];
}

.violet-gradient {
  @apply bg-gradient-to-r from-[#804dee] to-black;
}

.green-pink-gradient {
  background: #00cea8;
  background: linear-gradient(-90deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  @apply bg-[#f12711] bg-gradient-to-t from-[#f12711] to-[#f5af19];
}

.green-text-gradient {
  @apply bg-[#11998e] bg-gradient-to-t from-[#11998e] to-[#38ef7d];
}

.blue-text-gradient {
  @apply bg-[#2f80ed] bg-gradient-to-t from-[#2f80ed] to-[#56ccf2];
}

.pink-text-gradient {
  @apply bg-[#ec008c] bg-gradient-to-t from-[#ec008c] to-[#fc6767];
}
